@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
p {
  font-weight: 300;
  color: #111;
}
body {
  min-height: 1000px;
}

/*.scrolling-active {
  background-color: #fff;
  box-shadow: 0, 3px 1rem rgba(0, 0, 0, 0.1);
}
.scrolling-active .navigation .logo a {
  color: #313131;
}*/
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: slide 30s infinite;
}
.banner .content {
  max-width: 900px;
  text-align: center;
}
.banner .content h2 {
  font-size: 5em;
  color: #fff;
}
.banner .content p {
  font-size: 1em;
  color: #fff;
}
.btn {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover {
  letter-spacing: 6px;
}
.load{
  animation: slide 1s;
}

@keyframes slide {
  25%{
background-image: url('img/Abiy-Ahmed-Ali-e1547052702743.jpg');
  }
 
  50%{
    background-image: url('img/Sahle-Work_Zewde_in_2016.jpg');
  }
 
  75%{
    background-image: url('img/adanech-abebe-kentiba.jpg');
  }
  
  100%{
    background-image: url('img/lia\ tadesse.jpeg');
  }
  

}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  padding-left: 100px;
  padding-right: 60px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
/*hhjfhcu,dcdu,cyfycj*/
header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header.sticky .logo {
  color: #111;
}
header .logo span {
  color: #ff0158;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 1em;
}
header.sticky .navigation li a {
  color: #111;
}
header .navigation li a:hover {
  color: #ff0157;
}

.btn101{
  padding: 1%;
  border: none;
  font-size: 0.7rem;
  border-radius: 3px;
  height: 3vh;
}
.btno{
  background-color: #ff0160;
  color: #fff;
  cursor: pointer;
}
.btno:hover{
  background-color: #ff0145;
}
section {
  padding: 100px;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 48%;
}
.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
  z-index: 1;
}
.titleText span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}
#o{
  color: #111;
  font-weight: 300;
}
.row .col50 .imgBx {
  position: relative;
  width: 100%;
  height: 100%; 
}
.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.row .col50 p {
  font-size: 1em;
}

.Box h3 {
  font-size: 2em;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imageoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 1, 87, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius:45px;
  opacity: 0;
  transition: opacity 0.25s; 
}
.imageoverlay--blur {
  backdrop-filter: blur(5px);
}
.imageoverlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;

}
.imageoverlay:hover {
  opacity: 1;

}
.imageoverlay:hover > * {
  transform: translateY(0);
}
.imagetitle {
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
}
.imagedescription {
  font-size: 1.25em;
  margin-bottom: 0.25
   
}

/*menu end*/
.expert .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.expert .content .box {
  width: 250px;
  margin: 15px;
}
.expert .content .box .imgBx{
  position: relative;
  width: 100%;
  height: 300px;
}
.expert .content .box .imgBx  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 45px;
}
.expert .content .box .text{
  padding: 15px 0 5px;
}
.expert .content .box .text h3 {
  font-weight: 400;
  color: #111;
  }
  .testimonials{
    background: url(back1.jpg);
    background-size: cover;
  }
.white .titleText {
  color: #fff;
}
.white p {
  color: #fff;
}
.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials .content .box .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials .content .box .imgBx  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  .testimonials .content .box .text {
    text-align: center;
}
  .testimonials .content .box .text p{
      color: #666;
      font-style: italic;
}
  .testimonials .content .box .text h3{
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 600;
}
.Contact {
  background: url(contact.jpg);
  background-size: cover;
}
.contactform{
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  margin-top: 50px;
}
.contactform h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}
.contactform .inputBox{
  position: relative;
  width: 100%;
  margin-bottom: 20px; 
}
.contactform .inputBox input,
.contactform .inputBox textarea
 {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}
.contactform .inputBox input[type="submit"]
{
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.copyrightext{
  padding: 8px 40px;
  border-top: 1px solid rgba(0,0,0,0.5);
  text-align: center;
}
.copyrightext p {
  color: #333;
}
.copyrightext a {
  color: #ff0157;
  font-weight: 500;
  text-decoration: none;
}
.food-menuuu{
  background-color: #ececec;
  padding: 4% 0;
}
.containerrr{
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}
.text-centerrr{
  text-align: center;
}
.food-menu-boxxx{
  width: 43%;
  margin: 1%;
  padding: 2%;
  float: left;
  background-color: white;
  border-radius: 15px;
}
.food-menu-imggg{
  width: 20%;
  float: left;
}

.food-menu-desccc{
  width: 70%;
  float: left;
  margin-left: 8%;
}

.food-priceee{
  font-size: 1.2rem;
  margin: 2% 0;
}
.food-detailll{
  font-size: 1rem;
  color: #747d8c;
}
.img-responsiveee{
  width: 100%;
}
.img-curveee{
  border-radius: 15px;
}
.btnnn{
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-primaryyy{
  background-color: #ff6b81;
  color: white;
  cursor: pointer;
}
.btn-primaryyy:hover{
  color: white;
  background-color: #ff4757;
}
.clearfix{
  clear: both;
  float: none;
}
.text-whiteee{
  color: white;
}
.orderrr{
  width: 50%;
  margin: 0 auto;
}
.input-responsiveee{
  width: 96%;
  padding: 1%;
  margin-bottom: 3%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.order-labelll{
  margin-bottom: 1%; 
  font-weight: bold;
}
.food-searchhh{
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7% 0;
}
.morepics{
  display: none;
}
.seemorebtn{
  border: none;
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 30px;
  margin-left: 450px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  cursor: pointer;
}
.btw{
  margin-top: 20px;
}
#more{
  display: none;
}











@media (max-width: 991px)
{
  header,
  header.sticky

  {
    padding: 15px 25px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active{
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  header .navigation li {
    margin-left: 0px;
  }
  header .navigation li a {
    color: #111;
    font-size: 1.6em;
}
  .menuToggle
  {
    position: relative;
    width: 45px;
    height:45px;
    background: url(menu.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active
  {
    background: url(close.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header.sticky .menuToggle
  {
    filter: invert(1);
  }
  section {
    padding: 20px;
  }
  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }
  .row {
    flex-direction: column;
  }
  .row .col50 {
    position: relative;
    width: 100%;
  }
  .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
  }
  .menu .content {
    margin-top: 20px;
  }
  .menu .content .Box {
    margin: 10px;
  }
  .menu .content .Box .imgBx {
    height: 260px;
  }
  .title {
    text-align: center;
  }
  .titleText {
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 15px;
  }
.testimonials .content .box {
    margin: 10px;
    padding: 20px;
  }
.contactform {
    padding: 35px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width:768px){
.btnnn{
  width: 91%;
  padding: 2%;
}
.food-menuuu{
  padding: 20% 0;
}

.food-menu-boxxx{
  width: 90%;
  padding: 5%;
  margin-bottom: 5%;
}
}

  @media (max-width: 480px)
  {
  .banner .content h2
  {
      font-size: 2.2em;
      color: #fff;
  }
}





